<div class="container-fluid">
	<div class="row content">
		<ng-include src=" 'htmlView/templates/page/navbarView.htm' "></ng-include>
		<div class="col-sm-12 col-lg-12">
			<div class="col-sm-4 col-lg-4">
				<h2><img src="images/ico_contact_ora.png" alt=""> {{ (controller | translate)  }}
							</h2>
			</div>
			<div class="col-sm-12 padd_sf_home">
				<div class="divTable myBoxe" id="panelFormContatti">
				
					<form class="form-horizontal">
						
					<!-- Rimossa form contatti dopo mail 10/12/2018 -->	
						<fieldset >
							<div class="form-group px-bottom-6 px-top-50">
								<center> <!-- cont_ogniMail -->
									<label > {{ 'ref_polo_descr' | translate }} <i> {{polo.nome_referente + ' - '}}<a href="mailto:{{polo.email_referente}}">{{ polo.email_referente}}</a></i></label>
								</center>

							</div>
						</fieldset>
						<fieldset ng-show="polo.numero_referente && polo.numero_referente != ''">
							<div class="form-group px-bottom-6 px-top-50">
								<center>
									<label > {{ 'num_tel_info' | translate }} <i> {{polo.numero_referente}}</i></label>
								</center>

							</div>
						</fieldset>
						<fieldset>
							<div class="form-group px-bottom-6 px-top-50">
								<center>
									<label > {{ 'per_segnalazioni' | translate }} <i> <a href="mailto:{{polo.email_segnalazioni}}">{{polo.email_segnalazioni}} </a></i></label>
								</center>

							</div>
						</fieldset>
						<!-- rimossso mail 10/12/2018 <fieldset>
							<div class="form-group row px-top-10">
								<div class="col-sm-12 col-lg-12 center ">
									<button  type="reset" class="btn btn-xs Nbtn-default" ng-click='reset()' title="{{'pulisci' | translate}}">{{'pulisci' | translate}}</button>
									<button type="submit" ng-disabled="!validazioneDatiAllFilled()" class="btn btn-xs btn-primary" title="{{'invia' | translate}}" ng-click="onSendMail()">
										
										{{'invia' | translate}} </button> 
								</div>
							</div>
						</fieldset> -->
					<!-- Riunione iccu 7/9/2017 deciso di usare href	<fieldset>
							<center>
								<div id="errorAlertMail"style="display: none;" class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" title="{{'chiudi' | translate}}" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									{{mailError | translate}}
								</div>
								<div id="successAlertMail"style="display: none;" class="alert alert-success alert-dismissible" role="alert">
									<button type="button" title="{{'chiudi' | translate}}" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>{{mailError | translate}}!</strong>
								</div>
						</fieldset> -->
					</form>
					<!-- <span class="right" ><b>*&nbsp;&nbsp;</b>{{'tuttiCampiObligatori_error' | translate}}</span> -->
				</div>
			</div>
		</div>
	</div>
</div>


<span style="bottom: 0px">
  <ng-include src=" 'htmlView/templates/page/footerView.htm' "></ng-include>
</span>
<ng-include src=" 'htmlView/templates/page/modalsView.htm' "></ng-include>
