<!-- ng-show="!(polo.bibliotecaAsPolo && f.field == 'library')" -->
<div style="margin-top: 25px;" class="col-sm-9 col-lg-9" id="buildedQuery_id">
  <span ng-repeat="filtro in filtri">
    <font ng-show="filtri[$index -1]" face="verdana" color="#5497BC">{{filtri[$index -1].operator}}</font>
    (
    <span ng-repeat="f in filtro.filtri">
      <font ng-if="$index > 0" face="verdana" color="#5497BC">{{filtro.filtri[$index - 1 ].operator}}</font>
      <span ng-if="f.field != 'group'" style="cursor:default">{{f.field | translate}}= </span>
      <span ng-if="f.otherFiltersGroup">(</span>
      <span ng-repeat="fsg in f.otherFiltersGroup">
        <font ng-if="$index > 0" face="verdana" color="#5497BC">{{f.otherFiltersGroup[$index - 1].operator}}</font>
        (
        <span ng-if="fsg.field != 'group'" style="cursor:default">{{fsg.field | translate}}= </span>
        <b ng-if="fsg.field == 'tiporec'">{{fsg.value  | decodeTiporec  | translate }}</b>
        <b style="cursor:default" ng-if="fsg.field == 'level'">{{fsg.value  | decodeLevel   | translate }}</b>
        <b style="cursor:default" ng-if="fsg.field == 'library'">{{fsg.value  | decodeBib   | translate }}</b>
        <b style="cursor:default" ng-if="fsg.field == 'status_voce'">{{ 'vero' | translate }}</b>
        <b style="cursor:default"
          ng-if="fsg.field == 'relator_codef'">{{ fsg.value | decodeRelatorCodeTerm | translate }}</b>
        <b style="cursor:default"
          ng-if="fsg.field == 'forma' || fsg.field == 'formaf'">{{ fsg.value | decodeForma | translate }}</b>
        <b style="cursor:default" ng-if="fsg.field == 'lingua'">{{ fsg.value | decodeLang | translate }}</b>
        <b style="cursor:default" ng-if="fsg.field == 'paese'">{{ fsg.value | decodeCountry | translate }}</b>

        <span style="cursor:default" ng-if="!(fsg.field == 'level' || fsg.field == 'tiporec' || fsg.field == 'library' || fsg.field == 'relator_codef' || fsg.field == 'forma' || fsg.field == 'formaf' 
                || fsg.field == 'lingua' || fsg.field == 'paese' )"><span
            ng-if="fsg.match != 'andWord'"><b>{{fsg.value }}</b></span>
          <span ng-if="fsg.match == 'andWord'" ng-init="values = splitSpaceQueryValue(fsg.value)">(<span
              ng-repeat="v in values"><b>{{v}}</b><span ng-if="values.length > 1"
                ng-click="removeWordInFilterValue(fsg, v)" class="glyphicon glyphicon-remove link"
                style="margin-left: 3px;"></span><span ng-if="($index + 1) != values.length"
                style="color: #5497BC;">{{"  AND  "}}</span></span>)</span>
          <span ng-show="!(polo.bibliotecaAsPolo && fsg.field == 'library')" data-toggle="tooltip" data-placement="left"
            title="{{'rimuovi_filtro' | translate}}" ng-attr-id="{{ 'removeFacc_' + $index }}"
            ng-click="removeFilter(fsg)" class="glyphicon glyphicon-remove link" style="margin-left: 3px;"></span>
          )
        </span>
      </span><span ng-if="f.otherFiltersGroup">)</span>

      <b ng-if="f.field == 'tiporec'">{{f.value  | decodeTiporec  | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'level'">{{f.value  | decodeLevel   | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'library'">{{f.value  | decodeBib   | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'status_voce'">{{ 'vero' | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'formato_elet_copia'">{{'vero' | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'formato_elet_856'">{{'vero' | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'formato_elet'">{{'vero' | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'relator_codef'">{{ f.value | decodeRelatorCodeTerm | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'lingua'">{{ f.value | decodeLang | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'paese'">{{ f.value | decodeCountry | translate }}</b>

      <b style="cursor:default"
        ng-if="f.field == 'forma' || f.field == 'formaf'">{{ f.value | decodeForma | translate }}</b>
      <b style="cursor:default" ng-if="f.field == 'libretto'">{{f.value | translate }}</b>
      <b style="cursor:default" ng-init="values = splitSpaceQueryValue(f.value)"
        ng-if="!(f.field == 'libretto' || f.field == 'relator_codef' || f.field == 'level' || f.field == 'tiporec' || f.field == 'library' || f.field == 'formato_elet' || f.field == 'formato_elet_856' || f.field == 'formato_elet_copia' || f.field == 'forma' || f.field == 'formaf' || f.field == 'lingua' || f.field == 'paese')"><span
          ng-if="f.match != 'andWord'">{{f.value }}</span> <span ng-if="f.match == 'andWord'"><span
            ng-repeat="v in values">{{v}}<span ng-if="values.length > 1" ng-click="removeWordInFilterValue(f, v)"
              class="glyphicon glyphicon-remove link" style="margin-left: 3px;"></span><span
              ng-if="($index + 1) != values.length" style="color: #5497BC;">{{"  AND  "}}</span></span></span></b>
      <span ng-if="!f.otherFiltersGroup || f.otherFiltersGroup.length > 1" ng-show="!(polo.bibliotecaAsPolo && f.field == 'library')"
        data-toggle="tooltip" data-placement="left" title="Rimuovi filtro" ng-attr-id="{{ 'removeFacc_' + $index }}"
        ng-click="removeFilter(f)" class="glyphicon glyphicon-remove link"></span>
    </span>
    )
  </span>
  <span ng-show="filtri[$index -1]">)</font>

</div>