<div ng-show="resultFlag == true" class="col-sm-2 col-lg-2" id="right_banner">
  <!-- mlol -->
  <div ng-if="polo.flag_mlol" class="panel-group" ng-attr-id="{{ 'accordion__mlol_' + $index }}">
    <div ng-if="search.mlolDocs.documents.ndocs > 0" ng-init="orderFilterLimit = 5" class="panel panel-default">
      <div data-toggle="collapse" data-target="#{{ 'collapse_mlol_' + $index }}" class="panel-heading link" style="padding: 0px 0px;">
        <h6 class="panel-title center" >
                <img ng-src="images/mlol.png" alt="Medialibrary" width="42%">

              </h6>
      </div>
      <div ng-attr-id="{{ 'collapse_mlol_' + $index }}" class="panel-collapse collapse in">
        <div class="panel-body" >
          <div class="media"  style="margin-top:none;" ng-repeat="tipologiaMlol in search.mlolDocs.documents.tipologie ">
            <div class="media-left">
              <a title="{{'tooltip_openMediaLib' | translate}}" ng-href="{{tipologiaMlol.url_mlol}}" target="_blank">
<img class="media-object" ng-src="{{tipologiaMlol.icona}}" alt="{{tipoloMlol.icona}}">
</a>
            </div>
            <div class="media-body">
              <a title="{{'tooltip_openMediaLib' | translate}}" ng-href="{{tipologiaMlol.url_mlol}}" target="_blank">  <h6 style="display:inline-block;" class="media-heading links">{{tipologiaMlol.nome}} </h6></a>&nbsp;&nbsp;<span style="display:inline-block;">({{tipologiaMlol.risultati}})</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- wikipedia -->
  <div ng-if="polo.flag_wiki" class="panel-group" ng-attr-id="{{ 'accordion__mlol_' + $index }}">
    <div ng-if="search.wikiDocs.query.searchinfo.totalhits > 0" ng-init="orderFilterLimit = 5" class="panel panel-default">
      <div data-toggle="collapse" data-target="#{{ 'collapse_wiki_' + $index }}" class="panel-heading link" style="padding: 0px 0px;">
        <h6 class="panel-title center" >
                <img ng-src="images/wiki.png" alt="Wikipedia" width="62%">

              </h6>
      </div>
      <div ng-attr-id="{{ 'collapse_wiki_' + $index }}" class="panel-collapse collapse in">
        <div class="panel-body" >
          <div class="media"  style="margin-top: 3px !important;" ng-repeat="wiki in search.wikiDocs.query.search ">

            <div class="media-body">
              <a title="{{'tooltip_openWiki' | translate}}" ng-href="http://it.wikipedia.com/wiki/{{wiki.title}}" target="_blank">
                 <h6 style="display:inline-block;" class="media-heading links">{{wiki.title}}</h6></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
