<div class="container-fluid">
	<div class="row content">
		<ng-include src=" 'htmlView/templates/page/navbarView.htm' "></ng-include>
		<div class="col-sm-12 col-lg-12">
			<div class="col-sm-4 col-lg-4">
				<h2>
					<img src="images/ico_result_ora.png" alt=""> {{ (controller |
					translate) }}
					<!--<h3 ng-show="resultFlag == false" ng-show="resultFlag == false">{{errorAPI}}</h3>-->
				</h2>
			</div>

		</div>
		<div class="col-sm-12 padd_sf_home">

			<div class="divTable myBoxe">
				<ul class="nav nav-tabs">
					<!-- class="link active" -->
					<li
						ng-class="['link', {'active': polo.auth_autori}, {'disabled': !polo.auth_autori }, {'no-action': !polo.auth_autori }]"><a
						data-toggle="tab" data-target="#authority" target="_self"
						title="{{((!polo.auth_autori) ? 'not_allowed_authority' : 'autori') | translate}}">{{('autori'
							| translate)}}</a></li>
					<li
						ng-class="['link', {'active': !polo.auth_autori}, {'disabled': !polo.auth_classificazioni }, {'no-action': !polo.auth_classificazioni }]"
						ng-init="selectClasse(0, undefined)"><a data-toggle="tab"
						data-target="#classificazioni"
						title="{{((!polo.auth_classificazioni) ? 'not_allowed_authority' : 'dwy_classificazioni') | translate}}">{{'dwy_classificazioni'
							| translate }}</a></li>
				</ul>

				<div class="tab-content">
					<div ng-attr-id="authority"
						ng-class="['tab-pane', {'active': polo.auth_autori}]">
						<div ng-attr-id="panelSearch">
							<form class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<div class="col-sm-2 col-lg-2 pull-right">
											<select class="form-control  input-xs"
												ng-init="sort = 'nomeAuth'" ng-model="sort"
												ng-change="selectOrder(sort)" id="ordina_per">
												<!--<option value="syntetic_title">{{ 'ordinati' | translate }} <i>{{ 'titolo' | translate }}</i> </option> -->
												<option value="nomeAuth">{{ 'ordinati' | translate
													}} <i>{{ 'nomeAuth' | translate | lowercase}}</i></option>
												<option value="data_nascita_ASC">{{ 'ordinati' |
													translate }} <i>{{ 'data_nascita1' | translate |
														lowercase }} {{"ASC" | translate | uppercase | limitTo:3}}</i></option>
												<option value="data_nascita_DESC">{{ 'ordinati' |
													translate }} <i>{{ 'data_nascita1' | translate |
														lowercase }} {{"DESC" | translate | uppercase |limitTo:3
														}}</i></option>
											</select>
										</div>
										<div class="col-sm-2 col-lg-2 pull-right">
											<select class="form-control  input-xs "
												ng-init="maxRows='10'" ng-model="maxRows"
												ng-change="onChanges()" id="doc_for_page">
												<option value="5">{{ 'visualizzati' | translate }}
													5</option>
												<option value="10">{{ 'visualizzati' | translate }}
													10</option>
												<option value="25">{{ 'visualizzati' | translate }}
													25</option>
											</select>
										</div>

									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label for="parole_cerc"
											class="col-sm-3 col-lg-3 myControl-label"> {{
											'nomeAuth' | translate }}</label>
										<div class="col-md-5">
											<input type="text" ng-model="nome"
												class="form-control input-xs" id="parole_cerc">
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label for="notes" class="col-sm-3 col-lg-3 myControl-label">
											{{ 'notaInf' | translate }}</label>
										<div class="col-md-5">
											<input type="text" ng-model="note"
												class="form-control input-xs" id="notes">
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label for="ids" class="col-sm-3 col-lg-3 myControl-label">
											{{ 'vid' | translate }}</label>
										<div class="col-md-5">
											<input type="text" ng-model="vid"
												class="form-control input-xs" id="ids">
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label for="keys" class="col-sm-3 col-lg-3 myControl-label">
											{{ 'keywords' | translate }}</label>
										<div class="col-md-5">
											<input type="text" ng-model="keywords"
												class="form-control input-xs" id="keys">

										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group row">
										<label for="date" class="col-sm-3 col-lg-3 myControl-label ">{{
											'dataNascita' | translate }}</label> <span class="col-sm-2 col-lg-2">
											<input type="text" maxlength="4"
											onkeypress='return validateYear(event)' name="input"
											ng-regex="[0-9]{1,4}" ng-init="data_nascita1 = '' "
											ng-model="data_nascita1"
											ng-attr-placeholder="{{ 'datada' | translate }}"
											class=" form-control input-sm">
										</span> <span class="col-sm-2 col-lg-2"> <input type="text"
											maxlength="4" onkeypress='return validateYear(event)'
											name="input" ng-regex="[0-9]{1,4}"
											ng-init="data_nascita2 = '' " ng-model="data_nascita2"
											ng-attr-placeholder="{{ 'dataa' | translate }}"
											class="form-control input-sm">
										</span>

									</div>
								</fieldset>
								<fieldset>
									<div class="form-group row">
										<label for="date" class="col-sm-3 col-lg-3 myControl-label ">{{
											'dataMorte' | translate }}</label> <span class="col-sm-2 col-lg-2">
											<input type="text" maxlength="4"
											onkeypress='return validateYear(event)' name="input"
											ng-regex="[0-9]{1,4}" ng-init="data_morte1 = '' "
											ng-model="data_morte1"
											ng-attr-placeholder="{{ 'datada' | translate }}"
											class=" form-control input-sm">
										</span> <span class="col-sm-2 col-lg-2"> <input type="text"
											maxlength="4" onkeypress='return validateYear(event)'
											name="input" ng-regex="[0-9]{1,4}"
											ng-init="data_morte2 = '' " ng-model="data_morte2"
											ng-attr-placeholder="{{ 'dataa' | translate }}"
											class="form-control input-sm">
										</span>

									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label for="keys" class="col-sm-3 col-lg-3 myControl-label">
											{{ 'authorType' | translate }}</label>
										<div class="col-sm-3 col-lg-3">
											<select class="form-control  input-xs"
												ng-init="tipoauth = ''" ng-model="tipoauth" id="ordina_per">
												<option value=""></option>
												<option value="person">{{ 'persona' | translate }}</option>
												<option value="ente">{{ 'ente' | translate }}</option>

											</select>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label for="keys" class="col-sm-3 col-lg-3 myControl-label">
											{{ 'voceControllata' | translate }}</label>
										<div class="col-sm-3 col-lg-3">
											<input type="checkbox" ng-model="vociControllate" />
										</div>
									</div>
								</fieldset>



								<fieldset>
									<div class="form-group">
										<div class="col-sm-12 col-lg-12 divBottoni">
											<button type="reset" class="btn btn-xs Nbtn-default"
												ng-click='clearSearch()'>{{'pulisci' | translate}}</button>
											<button type="submit" class="btn btn-xs btn-primary"
												ng-click='findAuth()'>{{'cerca' | translate}}</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
						<!-- result -->
						<div id="resultSearchAuth">
							<div class="col-md-12">
								<ng-include ng-show="filtri[0].filtri.length > 0"
									src=" 'htmlView/opac/authority/authorityQuery.htm' "></ng-include>
							</div>
							<ng-include
								src=" 'htmlView/opac/authority/resultSearchAuth.htm' "
								onload="finishLoading()"></ng-include>
						</div>
					</div>


					<div ng-attr-id="classificazioni"
						ng-class="['tab-pane', {'active': !polo.auth_autori}]">
						<ng-include
							src=" 'htmlView/opac/authority/ClassificazioniDewey.htm' "></ng-include>
					</div>
				</div>
			</div>



		</div>
	</div>
</div>
<span style="bottom: 0px"> <ng-include
		src=" 'htmlView/templates/page/footerView.htm' "></ng-include>
</span>
<ng-include src=" 'htmlView/templates/page/modalsView.htm' "></ng-include>
