<div class="container-fluid" id="container">
	<div class="row content">
		<ng-include src=" 'htmlView/templates/page/navbarView.htm' "></ng-include>
		<div class="col-sm-12 padd_box_LR">
			<h2>
				<img src="images/ico_search_adv_ora.png" alt=""> {{ controller | translate }}</h2>
			<div class="ricercaAvanzata">
				<form class="form-horizontal">
					<fieldset>
						<div class="form-group row px-top-10">
							<div class="col-sm-12 col-lg-12 center ">
								<button type="reset" class="btn btn-xs Nbtn-default" ng-click='clearSearch(true)' title="{{'pulisci' | translate}}">{{'pulisci' | translate}}</button>
								<button type="submit" class="btn btn-xs btn-primary" ng-click='findAvanz()' title="{{'cerca' | translate}}">{{'cerca' | translate}} </button>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="form-group  ">

							<div class="col-sm-2 col-lg-2 pull-right">
								<select class="form-control  input-xs" ng-init="sort = 'score'" ng-model="sort" ng-change="selectOrder(sort)" id="ordina_per">

									<option value="score">{{ 'ordinati' | translate }}
										<i>{{ 'rilevanza' | translate | lowercase }}</i>
									</option>
									<option value="syntetic_title">{{ 'ordinati' | translate }}
										<i>{{ 'titolo' | translate | lowercase}}</i>
									</option>
									<option value="autore">{{ 'ordinati' | translate }}
										<i>{{ 'autore' | translate | lowercase}}</i>
									</option>
									<option value="datada_ASC">{{ 'ordinati' | translate }}
										<i>{{ 'data_sort' | translate }} {{"ASC" | translate | lowercase}}</i>
									</option>
									<option value="datada_DESC">{{ 'ordinati' | translate }}
										<i>{{ 'data_sort' | translate }} {{"DESC" | translate | lowercase}}</i>
									</option>
									<option ng-show="false" value="datada">{{ 'ordinati' | translate }}
										<i>{{ 'data_sort' | translate }} {{order.toUpperCase() | translate | limitTo:3 }}</i>
									</option>

								</select>
							</div>
							<div class="col-sm-2 col-lg-2 pull-right">
								<select class="form-control  input-xs" ng-init="maxRows='10'" ng-model="maxRows" ng-change="onChanges()" id="doc_for_page">
									<option value="5">{{ 'visualizzati' | translate }} 5 </option>
									<option value="10">{{ 'visualizzati' | translate }} 10</option>
									<option value="20">{{ 'visualizzati' | translate }} 20</option>
									<option value="35">{{ 'visualizzati' | translate }} 35</option>
									<option value="50">{{ 'visualizzati' | translate }} 50</option>
								</select>

							</div>
							<div ng-show="false" class="col-sm-2 col-lg-2 pull-right">
								<select class="form-control  input-xs" ng-init="order = 'asc'" ng-model="order" ng-change="onChanges()" id="ordina_per">
									<option value="asc">{{"ASC" | translate}}</option>
									<option value="desc">{{"DESC" | translate}}</option>
								</select>
							</div>
						</div>
					</fieldset>



					<!-- inizio tabella -->

					<fieldset>
						<table class="table-responsive table table-condensed " style="border: none;">
							<tr ng-repeat="t in getLines(n) track by $index" ng-init=" myParentIndex = $index">
								<td class="col-sm-1 col-lg-1" ng-if=" rigaRicerca[$index].field != 'group'">
								</td>
								<td class="col-sm-1 col-lg-1">
									<select ng-model="operators[$index]" ng-show="$index != 0" ng-attr-id="{{ 'operatore_' + $index }}" class="form-control  input-sm"
									 ng-change="setOperator($index,operators[$index])">
										<option value="AND">AND</option>
										<option value="OR">OR</option>
										<option value="AND NOT">NOT</option>
									</select>
								</td>
								<td class="col-sm-2 col-lg-2" ng-if=" rigaRicerca[$index].field != 'group'">
									<select ng-attr-id="{{ 'campoRicerca_' + $index }}" class=" form-control  input-sm" ng-init="rigaRicerca[$index].field = controlInit(rigaRicerca[$index], $last, $index)"
									 ng-model="rigaRicerca[$index].field" ng-change="changeCampo($index)">
										<option ng-repeat="singleCampo in campiRicercaLista" value="{{singleCampo}}">
												{{(singleCampo | translate )}}{{ (singleCampo != 'any' && singleCampo != 'keywords') ? '' : ((singleCampo == 'keywords') ? '**' : '*') }}
										</option>
										<option ng-show="false" value="group">{{'group' | translate}}</option>

									</select>
								</td>
								<td class="col-sm-4 col-lg-4" ng-if=" rigaRicerca[$index].field != 'group'">
									<div style="width: 99%" ng-attr-id="{{ 'testo_' + $index }}" ng-class="{'input-group input-group-sm': !(excludeTermini.indexOf(rigaRicerca[$index].field) > -1)  } "> 
										<input ng-disabled="rigaRicerca[$index].field == '' || rigaRicerca[$index].field == 'paese' || rigaRicerca[$index].field=='lingua'  || rigaRicerca[$index].field=='relator_codef_noposs' || rigaRicerca[$index].field=='relator_codef'  || rigaRicerca[$index].field=='forma'"
										 ng-class="{'disabled':rigaRicerca[$index].field == ''}" type="text" name="input" ng-model="rigaRicerca[$index].value"
										 ng-attr-placeholder="{{ 'testo' | translate }}" class="form-control input-sm" style="height: 30px;"
										 ng-show=" rigaRicerca[$index].field != 'paese' && rigaRicerca[$index].field !='lingua'  && rigaRicerca[$index].field !='relator_codef_noposs' && rigaRicerca[$index].field !='relator_codef'  && rigaRicerca[$index].field !='forma'"
										 >
										 <span ng-show="rigaRicerca[$index].field == 'paese' || rigaRicerca[$index].field=='lingua'  || rigaRicerca[$index].field=='relator_codef_noposs' || rigaRicerca[$index].field=='relator_codef'  || rigaRicerca[$index].field=='forma'"
										 class="form-control input-sm spanDisabled" style="height: 30px;"
										 ng-click="ricercaTermine(myParentIndex)"
										title="{{ (rigaRicerca[$index].field == 'paese' || rigaRicerca[$index].field=='lingua'  || rigaRicerca[$index].field=='relator_codef_noposs' || rigaRicerca[$index].field=='relator_codef'  || rigaRicerca[$index].field=='forma') ? 'tooltip_guardaLista' :'tooltip_cercaTermine' | translate}}"
										> 
										 <span ng-if="rigaRicerca[$index].field == 'lingua'">{{rigaRicerca[$index].value | decodeLang | translate}}</span>
										 <span ng-if="rigaRicerca[$index].field == 'paese'">{{rigaRicerca[$index].value | decodeCountry | translate}}</span>
										 <span ng-if="rigaRicerca[$index].field == 'relator_codef'">{{rigaRicerca[$index].value | decodeRelatorCodeTerm | translate}}</span>
										 <span ng-if="rigaRicerca[$index].field == 'forma'">{{rigaRicerca[$index].value | decodeForma | translate}}</span>
										 <span ng-if="rigaRicerca[$index].field == 'classi_PGI_686_tot'">{{rigaRicerca[$index].value | decodePegi | translate}}</span>
									  
										</span>


										<span title="{{ (rigaRicerca[$index].field == 'paese' || rigaRicerca[$index].field=='lingua'  || rigaRicerca[$index].field=='relator_codef_noposs' || rigaRicerca[$index].field=='relator_codef'  || rigaRicerca[$index].field=='forma') ? 'tooltip_guardaLista' :'tooltip_cercaTermine' | translate}}" ng-show="!(excludeTermini.indexOf(rigaRicerca[$index].field) > -1) "
										 ng-click="ricercaTermine(myParentIndex)" class="input-group-addon link">
											<span class="glyphicon glyphicon-list"></span>
										</span>

									</div>
								</td>

<!--  gruppo filtri -->
								<td ng-show="rigaRicerca[myParentIndex].field == 'group'" colspan="4">
									<table class="table table-condensed">
										<tr ng-attr-id="{{ 'odtherFilters_' + $index }}" ng-if="rigaRicerca[myParentIndex].otherFiltersGroup.length > 0 && rigaRicerca[myParentIndex].otherFiltersGroup != undefined"
										 ng-repeat=" otherFiltersGroupSingle in rigaRicerca[myParentIndex].otherFiltersGroup track by $index">

											<td class="tdInGroupOperator">
												<select ng-model="rigaRicerca[myParentIndex].otherFiltersGroup[$index - 1 ].operator" ng-show="$index != 0" ng-attr-id="{{ 'operatoreGroup_' + $index }}"
												 class="form-control  input-sm">
													<option value="AND">AND</option>
													<option value="OR">OR</option>
													<option value="AND NOT">NOT</option>
												</select>
											</td>

											<td class="tdInGroupCampo">
												<select ng-attr-id="{{ 'campoRicercaGroup_' + $index }}" class="form-control  input-sm" ng-init="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field = controlInit(rigaRicerca[myParentIndex].otherFiltersGroup[$index], $last, $index)"
												 ng-model="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field" ng-change="changeCampo(myParentIndex, $index)">
													<option ng-repeat="singleCampo in campiRicercaLista" value="{{singleCampo}}">
															{{(singleCampo | translate )}}{{ (singleCampo != 'any' && singleCampo != 'keywords') ? '' : ((singleCampo == 'keywords') ? '**' : '*') }}
														</option>
												</select>
											</td>
											<td class="tdInGroupText">
												<div style="width:100%" ng-attr-id="{{ 'testoGropup_' + $index }}" ng-class="{'input-group input-group-sm': !(excludeTermini.indexOf(rigaRicerca[myParentIndex].otherFiltersGroup[$index].field) > -1)  } ">
													<input ng-disabled="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == '' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == 'paese' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field=='lingua' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field=='relator_codef' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field=='forma'"
													 ng-class="{'disabled':rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == ''}" type="text" name="input"
													 ng-model="rigaRicerca[myParentIndex].otherFiltersGroup[$index].value" ng-attr-placeholder="{{  'testo' | translate }}"
													 class="form-control input-sm" style="height: 30px;"
													 ng-show="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field != 'paese' && rigaRicerca[myParentIndex].otherFiltersGroup[$index].field !='lingua'  && rigaRicerca[myParentIndex].otherFiltersGroup[$index].field !='relator_codef_noposs' && rigaRicerca[myParentIndex].otherFiltersGroup[$index].field !='relator_codef'  && rigaRicerca[myParentIndex].otherFiltersGroup[$index].field !='forma'"
													 >

													 <span ng-show="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == 'paese' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field=='lingua'  || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field=='relator_codef_noposs' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field=='relator_codef'  || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field=='forma'"
													 class="form-control input-sm spanDisabled" style="height: 30px;" 
													 ng-click="ricercaTermine(myParentIndex, $index)"
title="{{ (rigaRicerca[myParentIndex].otherFiltersGroup[$index].field  == 'paese' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='lingua'  || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='relator_codef_noposs' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='relator_codef'  || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='forma') ? 'tooltip_guardaLista' :'tooltip_cercaTermine' | translate}}"
													 > 
													 <span ng-if="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == 'lingua'">{{rigaRicerca[myParentIndex].otherFiltersGroup[$index].value | decodeLang | translate}}</span>
													 <span ng-if="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == 'paese'">{{rigaRicerca[myParentIndex].otherFiltersGroup[$index].value | decodeCountry | translate}}</span>
													 <span ng-if="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == 'relator_codef'">{{rigaRicerca[myParentIndex].otherFiltersGroup[$index].value | decodeRelatorCodeTerm | translate}}</span>
													 <span ng-if="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == 'forma'">{{rigaRicerca[myParentIndex].otherFiltersGroup[$index].value | decodeForma | translate}}</span>
													 <span ng-if="rigaRicerca[myParentIndex].otherFiltersGroup[$index].field == 'classi_PGI_686_tot'">{{rigaRicerca[myParentIndex].otherFiltersGroup[$index].value | decodePegi | translate}}</span>
												  
													</span>

													<span title="{{ (rigaRicerca[myParentIndex].otherFiltersGroup[$index].field  == 'paese' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='lingua'  || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='relator_codef_noposs' || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='relator_codef'  || rigaRicerca[myParentIndex].otherFiltersGroup[$index].field =='forma') ? 'tooltip_guardaLista' :'tooltip_cercaTermine' | translate}}" ng-if="!(excludeTermini.indexOf(rigaRicerca[myParentIndex].otherFiltersGroup[$index].field) > -1) "
													 ng-click="ricercaTermine(myParentIndex, $index)" class="input-group-addon link">
														<span class="glyphicon glyphicon-list"></span>
													</span>

												</div>
											</td>
											<td style="padding-left: 1%" class="tdInGroupMatch">
												<select ng-attr-id="{{ 'matchGroup_' + $index }}" class=" form-control  input-sm" ng-model="rigaRicerca[myParentIndex].otherFiltersGroup[$index].match"
												 ng-change="onChanges()">
													<option value="andWord">{{ 'paroleAnd' | translate }}</option>
													<option value="phrase">{{ 'frase' | translate }}</option>
													<option value="completePhrase">{{ 'fraseCompleta' | translate }}</option>
												</select>
											</td>
											<td>
												<button title="{{'tooltip_removeCampoG' | translate}}" type="button" ng-attr-id="{{ 'menoInGroup_' + myParentIndex+ '_' + $index }}"
												 ng-click="removeFromGroup(myParentIndex, $index)" name="input" ng-attr-placeholder="{{ 'rimuoviRiga' | translate }}"
												 class="btn btn-danger btn-xs">
													<span class="glyphicon glyphicon-minus"></span>
												</button>
												<button title="{{'tooltip_addCampoG' | translate}}" type="button" ng-attr-id="{{ 'piuInGroup_' + myParentIndex+ '_' + $index }}"
												 ng-show="$last" ng-click="incrementToGroup(myParentIndex)" name="input" ng-attr-placeholder="{{ 'testo' | translate }}"
												 class="btn btn-success btn-xs">
													<span class="glyphicon glyphicon-plus"></span>
												</button>

											</td>
								</td>

								</tr>
								</table>

								</td>
								<td ng-if=" rigaRicerca[$index].field != 'group'">
									<select class="tdRigaMatch form-control  input-sm" ng-model="rigaRicerca[$index].match" ng-change="onChanges()" id="ric">
										<option value="andWord">{{ 'paroleAnd' | translate }}</option>
										<option value="phrase">{{ 'frase' | translate }}</option>
										<option value="completePhrase">{{ 'fraseCompleta' | translate }}</option>
									</select>
								</td>
								<td>
									<button title="{{'tooltip_removeCampo' | translate}}" type="button" ng-attr-id="{{ 'meno_' + $index }}" ng-show=" n > 1  "
									 ng-click="decrementN($index)" name="input" ng-attr-placeholder="{{ 'rimuoviRiga' | translate }}" class="btn btn-danger btn-xs">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
									<button title="{{'tooltip_gruppizza' | translate}}" type="button" ng-attr-id="{{ 'gruppizza_' + $index }}" ng-show="rigaRicerca[myParentIndex].field != 'group'"
									 ng-click="gruppizza(myParentIndex)" name="input" ng-attr-placeholder="{{ 'testo' | translate }}" class="btn btn-warning btn-xs">
										<span class="glyphicon glyphicon-list-alt"></span>
									</button>
									<button title="{{'tooltip_addCampo' | translate}}" type="button" ng-attr-id="{{ 'piu_' + $index }}" ng-show="($index + 1) == n "
									 ng-click="incrementN()" name="input" ng-attr-placeholder="{{ 'testo' | translate }}" class="btn btn-success btn-xs">
										<span class="glyphicon glyphicon-plus"></span>
									</button>

								</td>
							</tr>
						</table>
					</fieldset>
					<!-- fine tabella -->
					<fieldset ng-show="!polo.bibliotecaAsPolo">
						<div class="form-group row px-top-15">
							<label ng-click="showMenuBibs()" for="bibs" class="col-sm-2 col-lg-2 control-label">{{ 'selectBib' | translate }}</label>

							<div ng-attr-id="{{ 'bibsSelect' }}" class="col-sm-6 col-lg-6">
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ng-click="">
										{{"selected" | translate}}
										<span ng-show="selectionBibl.length > 0">
											<i>{{selectionBibl.length}} </i>
										</span>

										<span class="caret"></span>
									</button>

									<ul ng-click="$event.stopPropagation();" class="dropdown-menu" style="height: 200px; width: 400px;  overflow-y: auto; resize: both"
									 ng-init="show = false">
										<span ng-repeat="bg in polo.gruppi_bib | orderBy: 'name' " ng-if="bg.biblioteche.length != 0">
											<li class="dropdown-header link">
												<span ng-show="show" title="{{'tooltip_aggiungi_tutte_bib_group' | translate}}" class="glyphicon glyphicon-minus" ng-click="$event.stopPropagation(); show = !show"></span>
												<span ng-show="!show" title="{{'tooltip_aggiungi_tutte_bib_group' | translate}}" class="glyphicon glyphicon-plus" ng-click="$event.stopPropagation(); show = !show"></span>
												<span ng-click="$event.stopPropagation(); show = !show">{{bg.name |capitalize}}
													<span style="margin-left: 6px;" ng-show="show" title="{{'tooltip_remove_tutte_bib_group' | translate}}" class="glyphicon glyphicon-log-out pull-right"
													 ng-click="$event.stopPropagation(); clearBibselect(bg.biblioteche)"></span>
													<span ng-show="show" title="{{'tooltip_aggiungi_tutte_bib_group' | translate}}" class="glyphicon glyphicon-log-in pull-right"
													 ng-click="$event.stopPropagation(); addAllToSelected(bg.biblioteche)"></span>
											</li>
											<li ng-show="show">
												<ul>
													<li style="list-style-type: none;" class="link" ng-repeat="bl in bg.biblioteche">
														<span ng-click="$event.stopPropagation(); toggleSelectionBib(bl)">
															<label for="{{'bib_' + $index}}">
															<input ng-attr-id="{{'bib_' + $index}}" ng-click="$event.stopPropagation(); toggleSelectionBib(bl)" type="checkbox" name="selectionBibl[]" value="{{bl.name}}"
															 ng-checked="findIndex(selectionBibl, 'cod_bib', bl.cod_bib) > -1 ">
															<span style="padding-left: 10px;">{{bl.name}}
																<i>({{bl.isil}})</i>
															</span>
														</label>
														</span>
													</li>
												</ul>
											</li>
											<li role="separator" class="divider"></li>
											</span>
											<li ng-init="showB = true" class="dropdown-header link" ng-click="$event.stopPropagation();  showB = !showB">
												<span ng-show="!showB" title="{{'tooltip_aggiungi_tutte_bib_group' | translate}}" class="glyphicon glyphicon-plus" ng-click="$event.stopPropagation(); showB = !showB"></span>
												<span ng-show="showB" title="{{'tooltip_aggiungi_tutte_bib_group' | translate}}" class="glyphicon glyphicon-minus" ng-click="$event.stopPropagation(); showB = !showB"></span>
												<span ng-click="$event.stopPropagation(); showB = !showB">{{'altre_biblioteche'| translate |capitalize}}</span>
												<span style="margin-left: 6px;" ng-show="showB" title="{{'tooltip_remove_tutte_bib_group' | translate}}" class="glyphicon glyphicon-log-out pull-right"
												 ng-click="$event.stopPropagation(); clearAllNonGrupp(polo.libraries)"></span>

												<span ng-show="showB" title="{{'tooltip_aggiungi_tutte_bib_group' | translate}}" class="glyphicon glyphicon-log-in pull-right"
												 ng-click="$event.stopPropagation(); addAllNonGrupp(polo.libraries)"></span>
											</li>
											<ul>
												<li style="list-style-type: none;" ng-show="showB" class="link" ng-repeat="bl in polo.libraries "
												 ng-if="bl.gruppi.length == 0">
													<span ng-click="$event.stopPropagation(); toggleSelectionBib(bl)">
													<label class="ng-hide" for="{{'bib_' + $index}}"> </label>
														<input ng-attr-id="{{'bib_' + $index}}" ng-click="$event.stopPropagation(); toggleSelectionBib(bl)" type="checkbox" name="selectionBibl[]" value="{{bl.name}}"
														 ng-checked="findIndex(selectionBibl, 'cod_bib', bl.cod_bib) > -1 ">
														
														<span style="padding-left: 10px;">{{bl.name}}
															<i>({{bl.isil}})</i>
														</span>
												
													</span>
												</li>
											</ul>

									</ul>
									<!--<ul class="dropdown-menu" style="max-height: 250px; overflow-y: auto">
										<li ng-repeat="bl in polo.libraries | orderBy: 'name' | orderBy: 'isil' " class="link"><a ng-click="$event.stopPropagation(); toggleSelectionBib(bl)"><input
																												 ng-click="$event.stopPropagation(); toggleSelectionBib(bl)"
																													type="checkbox"
																													name="selectionBibl[]"
																													value="{{bl.name}}"
																													ng-checked="findIndex(selectionBibl, 'cod_bib', bl.cod_bib) > -1 "
																												> <span style="padding-left: 10px;">{{bl.name}} <i>({{bl.isil}})</i></span></a></li>

										
																											</ul> -->
									<span ng-show="selectionBibl.length > 0 " ng-repeat="selectionBiblSingle in selectionBibl | limitTo: 3">
										<i>{{selectionBiblSingle.name |translate | limitTo:30 | lowercase}}<span ng-show="selectionBiblSingle.name.length > 31 ">
												<i>...</i></span><span ng-if="selectionBibl[$index + 1]">,</span>
										</i>
									</span>
									<span ng-show="selectionBibl.length > 3 ">
										<i>[...]</i>
									</span>
								</div>


							</div>


						</div>

					</fieldset>


					<fieldset ng-show="true">
						<!-- style="margin-top:25px" -->
						<div class="form-group row" ng-class="{'px-top-15': polo.bibliotecaAsPolo }">
							<label for="level" class="col-sm-2 col-lg-2 control-label ">{{ 'level' | translate }}</label>

							<div ng-attr-id="{{ 'level' }}" class="col-sm-6 col-lg-6">

								<div class="dropdown">

									<button class="btn btn-default dropdown-toggle btn-xs " type="button" data-toggle="dropdown" ng-click="">
										{{"selected" | translate}}
										<span ng-show="selectionLevel.length > 0">
											<i>{{selectionLevel.length}}</i>
										</span>
										<!--		{{"selected" | translate}} <span  ng-show="selectionLevel.length > 0" ng-repeat="livelloS in selectionLevel"><i>{{livelloS.text |translate}} </i></span>
	-->
										<span class="caret"></span>
									</button>


									<ul class="dropdown-menu">
										<li ng-attr-id="{{'lvl_'+$index}}" ng-repeat="lvl in levelBib" class="link">
											<a ng-click="$event.stopPropagation(); toggleSelectionLevel(lvl)">
												<input ng-click="$event.stopPropagation(); toggleSelectionLevel(lvl)" type="checkbox" name="selectionLevel[]" value="{{lvl.name}}"
												 ng-checked="selectionLevel.indexOf(lvl.cod) > -1">
												<span style="padding-left: 10px;">{{lvl.text |translate}}</span>
											</a>
										</li>

									</ul>

									<span ng-show="selectionLevel.length > 0" ng-repeat="livelloS in selectionLevel | limitTo: 3">
										<i>{{livelloS | decodeLevel |translate | lowercase}}<span ng-if="selectionLevel[$index + 1]">,</span>
										</i>
									</span>
									<span ng-show="selectionLevel.length > 3 ">
										<i>[...]</i>
									</span>
								</div>
							</div>




						</div>

					</fieldset>

					<fieldset ng-show="true">
						<div class="form-group row">
							<label for="tipoRecord" class="col-sm-2 col-lg-2 control-label ">{{ 'tiporec' | translate }}</label>

							<div ng-attr-id="{{ 'tipoRecord'}}" class="col-sm-6 col-lg-6">
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ng-click="">
										{{"selected" | translate}}
										<span ng-show="selectionTipoRec.length > 0">
											<i>{{selectionTipoRec.length}}</i>
										</span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<!-- ng-show="tpx.cod != 'u'" -->
										<li ng-repeat="tpx in tipiRecord" class="link">
											<a ng-click="$event.stopPropagation();  toggleSelectionTipoRecord(tpx)">
												<input ng-click="$event.stopPropagation();  toggleSelectionTipoRecord(tpx)" type="checkbox" name="selectionTipoRec[]" value="{{tp.name}}"
												 ng-checked="selectionTipoRec.indexOf(tpx.cod) > -1">
												<span style="padding-left: 10px;">{{tpx.text |translate}}</span>
											</a>
										</li>

									</ul>
									<span ng-show="selectionTipoRec.length > 0" ng-repeat="tipoRecSingle in selectionTipoRec | limitTo: 3">
										<i>{{tipoRecSingle | decodeTiporec |translate | limitTo: 30 | lowercase}}<span ng-show="(tipoRecSingle | decodeTiporec).length > 30 ">
												<i>...</i></span><span ng-if="selectionTipoRec[$index + 1]">,</span>
										</i>
									</span>
									<span ng-show="selectionTipoRec.length > 3 ">
										<i>[...]</i>
									</span>
								</div>

							</div>


						</div>

					</fieldset>


					<fieldset>
						<div class="form-group row ">
							<label for="date" class="col-sm-2 col-lg-2 control-label ">{{ 'data' | translate }}</label>

							<span class="col-sm-2 col-lg-2">
								<input type="text" maxlength="4" onkeypress='return validateYear(event)' ng-model="date[0].value" ng-attr-placeholder="{{ 'datada' | translate }}"
								 class=" form-control input-xs" style="height: 30px;">
							</span>
							<span class="col-sm-2 col-lg-2">
								<input type="text" maxlength="4" onkeypress='return validateYear(event)' ng-model="date[1].value" ng-attr-placeholder="{{ 'dataa' | translate }}"
								 class="form-control input-xs" style="height: 30px;">
							</span>

						</div>

					</fieldset>
					<fieldset>
						<div class="form-group row">
							<label for="digitale" class="col-sm-2 col-lg-2 control-label ">{{'disponibilitaFormatoDigitale' | translate}}</label>
							<div ng-attr-id="{{ 'digitalecheck'}}" class="col-sm-6 col-lg-6">
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ng-click="">
										{{"selected" | translate}}
										<span ng-show="copia_digitale.length > 0">
											<i>{{copia_digitale.length}}</i>
										</span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li ng-repeat="c in copDigitaleValues" class="link" ng-class="{'disabled no-action':(copia_digitale.indexOf('Y') > -1) && c != 'Y' || (copia_digitale.indexOf('B') > -1) && c == 'Y' || (copia_digitale.indexOf('DC') > -1) && c == 'Y' }">
											<a ng-attr-id="{{'val_cd_' + $index}}" ng-click="$event.stopPropagation(); toggleSelectionDigitale(c)" >
												<input ng-click="$event.stopPropagation();  toggleSelectionDigitale(c)" type="checkbox" name="copia_digitale[]" value="{{c}}"
												 ng-checked="copia_digitale.indexOf(c) > -1" ng-disabled="(copia_digitale.indexOf('Y') > -1) && c != 'Y' || (copia_digitale.indexOf('B') > -1) && c == 'Y' || (copia_digitale.indexOf('DC') > -1) && c == 'Y' " >
												<span style="padding-left: 10px;" ng-if="c != 'Y'" >{{(c == 'B') ? 'bornDigit' : 'digitalCopy' | translate | lowercase}}</span>
												<span style="padding-left: 10px;" ng-if="c == 'Y'">{{'Y' | translate|lowercase}}</span>

											</a>
											<!-- ng-class="{'disabled no-action':(copia_digitale.indexOf('Y') > -1) && c != 'Y' || (copia_digitale.indexOf('B') > -1) && c == 'Y' || (copia_digitale.indexOf('DC') > -1) && c == 'Y' }" -->
										</li>

									</ul>
									<span ng-show="copia_digitale.length > 0" ng-repeat="copia_digitaleS in copia_digitale ">

										<i>{{(copia_digitaleS == 'B') ? 'bornDigit' : (copia_digitaleS == 'Y')? 'Y' : 'digitalCopy' | translate | lowercase}}</i><span
										 ng-if="copia_digitale[$index + 1]">,</span>

									</span>
									<span ng-show="copia_digitale.length > 3 ">
										<i>[...]</i>
									</span>
									</i>
								</div>

							</div>
						</div>
					</fieldset>
					<!-- materiale_inv -->
					<fieldset ng-show="true">
						<!-- style="margin-top:25px" -->
						<div class="form-group row">
							<label for="materiale_inv" class="col-sm-2 col-lg-2 control-label ">{{ 'supp_mat_inv_950' | translate }}</label>

							<div ng-attr-id="{{ 'materiale_inv' }}" class="col-sm-6 col-lg-6">

								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle btn-xs " type="button" data-toggle="dropdown" ng-click="">
										{{"selected" | translate}}
										<span ng-show="materiale_inv.length > 0">
											<i>{{materiale_inv.length}}</i>
										</span>
										<span class="caret"></span>
									</button>


									<ul class="dropdown-menu">
										<li ng-attr-id="{{'materiale_inv__'+$index}}" ng-repeat="materiale_inv_ in menuMatInv" class="link">
											<a ng-click="$event.stopPropagation(); toggleMateriale_inv(materiale_inv_)">
												<input ng-click="$event.stopPropagation(); toggleMateriale_inv(materiale_inv_)" type="checkbox" name="materiale_inv[]" value="{{}}"
												 ng-checked="materiale_inv.indexOf(materiale_inv_.cod) > -1">
												<span style="padding-left: 10px;">{{materiale_inv_.cod | decodeMaterialeInv |translate}}</span>
											</a>
										</li>

									</ul>

									<span ng-show="materiale_inv.length > 0" ng-repeat="materiale_invS in materiale_inv | limitTo: 3">
										<i>{{materiale_invS | decodeMaterialeInv |translate | lowercase}}<span ng-if="materiale_inv[$index + 1]">,</span>
										</i>
									</span>
									<span ng-show="materiale_inv.length > 3 ">
										<i>[...]</i>
									</span>
								</div>
							</div>
						</div>

					</fieldset>
					<fieldset class="text-right colour-yellow">
						<span>{{( 'any' | translate) + '* ' +('cerca_in_any' | translate)}}</span>
					</fieldset>
					<fieldset class="text-right colour-yellow">
						<span>{{( 'keywords' | translate) + '** ' +('cerca_in_keywords' | translate)}}</span>
					</fieldset>

					<fieldset>
						<hr style="border-top: 2px solid#5497BC;" />
					</fieldset>


					<!-- ricerca specializzata -->
					<ng-include src=" 'htmlView/opac/biblio/ricercaSpecializzata.htm' " onload="loadedSpecImport()"></ng-include>


					<fieldset>
						<div class="form-group row px-top-10">
							<div class="col-sm-12 col-lg-12 " style="text-align:center;">
								<button type="reset" class="btn btn-xs Nbtn-default" ng-click='clearSearch(true)' title="{{'pulisci' | translate}}">{{'pulisci' | translate}}</button>
								<button type="submit" class="btn btn-xs btn-primary" ng-click='findAvanz()' title="{{'cerca' | translate}}">{{'cerca' | translate}} </button>
							</div>
						</div>
					</fieldset>

				</form>
			</div>
		</div>
	</div>
</div>
<ng-include src=" 'htmlView/templates/page/footerView.htm' "></ng-include>
<ng-include src=" 'htmlView/templates/page/modalsView.htm' "></ng-include>