<div class="btn-group" role="group" aria-label="...">
  <button ng-show="resultFlag == true && search.solrDocs.documenti.length > 1" type="submit" class="btn  btn-default btn-xs" ng-click="exportList('id')" data-toggle="tooltip" data-placement="left" title="{{'exportAsBids' | translate}}" tabindex="-1">{{'exportAsBids' | translate}}</button>
  <button ng-show="resultFlag == true && search.solrDocs.documenti.length > 1" type="submit" class="btn  btn-default btn-xs" ng-click="exportList('unimarc')" data-toggle="tooltip" data-placement="left" title="{{'exportAsUnimarcs' | translate}}" tabindex="0">{{'exportAsUnimarcs' | translate}}</button>
</div>
