<footer style="margin-top: 20px;" class="container-fluid">
  <section aria-label="{{'acc_footer' | translate}}" id="acc_footer">
  <p class="aCx blu-tema">
    <img src="images/iccu.png" class="img-responsive " style="display: inline; max-width: 31px;" alt="Logo ICCU">
   <strong><span class="nero-contrasto">Copyright &copy; 2017 </span><a target="_blank" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' http://www.iccu.sbn.it'}}" href="http://www.iccu.sbn.it" name="ICCU" class="link">ICCU | Istituto Centrale per il Catalogo Unico delle biblioteche italiane e per le informazioni bibliografiche</strong></a><span class="nero-contrasto"> - {{'realizzato_da' | translate}} </span><a target="_blank" href="http://www.almaviva.it" class="link" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' http://www.almaviva.it'}}" name="AlmavivA">Almaviva S.p.A.</a>
  </p>
</section>
</footer>
