<footer style="margin-top: 20px;" class="container-fluid">
  <p class="aCx" style="color: #00698c;">
    <img src="images/iccu.png" class="img-responsive" style="    display: inline;
    max-width: 31px;">
   <b> Copyright &copy; 2017  <a target="_blank" href="http://www.iccu.sbn.it">ICCU | Istituto Centrale per il Catalogo Unico delle biblioteche italiane e per le informazioni bibliografiche</b></a> - {{'realizzato_da' | translate}} <a target="_blank" href="http://www.almaviva.it">Almaviva S.p.A.</a>
  </p>
</footer>