<link rel="stylesheet" href="css/style.css">

<div class="col-md-12 div-head">
	<section aria-label="{{'acc_navigazione' | translate}}" id="acc_navigazione">
	<!-- Nome del Polo -->
	<div class="col-md-5" id="poloTitle" style="padding-left: 0px">
		<div class="col-md-12" style="padding-left: 0px">
			<!--<a ng-href="{{(polo.code && !isAdministration) ? ((!polo.bibliotecaAsPolo) ? polo.code  : polo.code +'/' + polo.codBibliotecaAsPolo) + '/ricercaSemplice' : '#'}} " title="{{(!isAdministration) ? 'tooltip_paginaRSempl' : '' | translate}}">
			-->			<img ng-if="polo.code" class="img-responsive" alt="{{(!isAdministration) ? 'tooltip_paginaRSempl' : 'Logo' | translate}}"
				ng-src="img/get/logo_polo_scritta/{{(!polo.bibliotecaAsPolo) ? polo.code  : polo.code +'/' + polo.codBibliotecaAsPolo}}"
				on-error-src="images/sbnweb.png" style="max-height: 65px;"> 
			<img alt="{{(!isAdministration) ? 'tooltip_paginaRSempl' : 'Logo' | translate}}"
				ng-if="!polo.code" class="img-responsive" src="images/sbnweb.png"
				style="max-height: 65px;"> 
			<!--</a> -->
		</div>

	</div>
	<div class="col-md-2"
		ng-show="false"
		style="padding-left: 0px; padding-right: 0px"> <!-- ng-show="(controller != 'rSemplice') && !user && flagVisualizza" -->
		<!-- Almaviva3 evo BVE 09/05/2019 rimosso searchbar e spostata in barra in basso -->
		<!-- diventa una colonna centrale vuota -->
	</div>
	<div class="col-md-5 testt img-links">
		
		<a ng-if="polo.hasLinkLogo "
			ng-show="(!polo.bibliotecaAsPolo && polo.flag_logo) || (polo.bibliotecaAsPolo && polo.bibUseLogo)"
			target="_blank" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' ' +link.url}}"
			ng-repeat="link in polo.link_esterni| filter :{tipo_link: 'logo'}"
			ng-href="{{link.url | trust}}"> <img alt="Logo"
			ng-if="!polo.bibliotecaAsPolo && polo.flag_logo"
			ng-src="img/get/logo/{{polo.code}}"
			style="max-width: 135px; max-height: 70px"> <img alt="Logo"
			ng-if="polo.bibliotecaAsPolo && polo.bibUseLogo"
			ng-src="img/get/logo/{{polo.code +'/' + polo.codBibliotecaAsPolo}}"
			style="max-width: 135px; max-height: 70px">
		</a> <span ng-if="!polo.hasLinkLogo"> <img alt="Logo"
			ng-if="!polo.bibliotecaAsPolo && polo.flag_logo"
			ng-src="img/get/logo/{{polo.code}}"
			style="max-width: 135px; max-height: 70px"> <img alt="Logo"
			ng-if="polo.bibliotecaAsPolo && polo.bibUseLogo"
			ng-src="img/get/logo/{{polo.code +'/' + polo.codBibliotecaAsPolo}}"
			style="max-width: 135px; max-height: 70px">
		</span> <a ng-if="flagVisualizza && !user" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' ' +link.url}}"
			ng-repeat="link in polo.link_esterni| filter :{tipo_link: 'link'}"
			target="_blank" ng-href="{{link.url | trust}}"> <img alt="Logo"
			ng-src='img/get/{{link.tipo_link}}/{{polo.code}}'
			style="max-width: 135px; max-height: 70px"
			title="{{link | translateLinkEsterno}}">

		</a>
	</div>
	</section>
</div>
<div class="navbar navbar-default navbar-fix-goes-on-top-div">
	<button type="button" class="navbar-toggle" data-toggle="collapse"
		data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
		<span class="icon-bar"></span> <span class="icon-bar"></span>
	</button>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav menu padd_L_nav"> <!--(controller != 'rSemplice') &&-->
		<li ng-if="flagVisualizza" ng-show=" !user && flagVisualizza"><a
		ng-href="{{(!polo.bibliotecaAsPolo) ? polo.code  : polo.code +'/' + polo.codBibliotecaAsPolo}}/ricercaSemplice" 
		title="{{'tooltip_paginaRSempl' | translate}}" class="a logout link"
				> <span class="glyphicon glyphicon-home"></span>
					{{ 'Home' | translate }}
			</a></li>
			<li ng-if="flagVisualizza"><a
				title="{{'tooltip_statistiche' | translate }}" class="a logout link"
				href="/awstats/awstats.pl?config={{polo.code}} " aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' awstas' }}"
				target="_blank"> <span class="glyphicon glyphicon-stats"></span>
					{{ 'statistiche' | translate }}
			</a></li>
			<li ng-if="flagVisualizza"><a
				title="{{'tooltip_guida_utente' | translate }}" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' Guida_utente-opac2-1'}}"
				class="a logout link" href="meta/Guida_utente-opac2-1.1.1.pdf"
				target="_blank"> <span class="glyphicon glyphicon-book"></span>
					{{ 'guidaUtente' | translate }}
			</a></li>
			<!-- <li ng-if="isAdministration"><a
				title="{{'tooltip_torna_a_opac' | translate }}"
				class="a logout link"
				href="{{polo.code}}" target="_blank">
					<span class="glyphicon glyphicon-book"></span> {{
					'torna_a_opac' | translate }}
			</a></li> -->
			<li ng-if="isAdministration && user"><a
				title="{{'tooltip_guida_amministrazione' | translate }}"
				class="a logout link" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' Guida_amministrazione-opac2-1'}}"
				href="meta/Guida_amministrazione-opac2-1.1.0.pdf" target="_blank">
					<span class="glyphicon glyphicon-book"></span> {{
					'guidaAmministrazione' | translate }}
			</a></li>
			<li ng-if="flagVisualizza"><a
				title="{{'tooltip_invia_mail_contatto' | translate}}"
				ng-if="polo.code && !user" class="a logout link" 
				ng-href="{{(!polo.bibliotecaAsPolo) ? polo.code  : polo.code +'/' + polo.codBibliotecaAsPolo}}/contatti"> <span
					class="glyphicon glyphicon-envelope"></span> {{ 'contatti' |
					translate }}
			</a></li>
			<li ng-if="flagVisualizza"><a
				title="{{('tooltip_apri_nuova_page' | translate) + ' ' + ('il_modulo' | translate) + ' ' + ('chiedi_al_bibliotecario'| translate)}}"
				ng-if="polo.code && !user && polo.flag_chiedi" class="a logout link" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' ' +link.url}}"
				ng-href="/chiedi/{{polo.code}}" target="_blank"> <span
					class="glyphicon glyphicon-envelope"></span> {{ 'chiedi_al_bibliotecario' |
					translate }}
			</a></li>
			<li ng-if="flagVisualizza"><a
				ng-if="!polo.bibliotecaAsPolo && polo.code && !user"
				title="{{'tooltip_info_polo' | translate}}" class="a logout link"
				ng-href="{{(!polo.bibliotecaAsPolo) ? polo.code  : polo.code +'/' + polo.codBibliotecaAsPolo}}/info/polo"> <span
					class="glyphicon glyphicon-info-sign"></span> {{
					'InfoPoloController' | translate }}
			</a></li>

			<li ng-if="flagVisualizza"><a ng-if="polo.code && !user"
				title="{{(polo.bibliotecaAsPolo)? 'tooltip_info_biblioteca': 'tooltip_lista_biblioteche'
					| translate }}"
				class="a logout link" ng-href="{{(!polo.bibliotecaAsPolo) ? polo.code + '/info/biblioteche'  : polo.code +'/' + polo.codBibliotecaAsPolo + '/info/biblioteca'}}">
					<span class="glyphicon glyphicon-info-sign"></span> {{
					(polo.bibliotecaAsPolo)? 'info_biblioteca': 'InfoBibPoloController'
					| translate }}
			</a></li>
			<!-- Almaviva3 09/05/2019 evo BVE link per tornare da opac di bib a opac di polo -->
			<li ng-if="flagVisualizza"><a ng-if="(polo.code && !user) && polo.bibliotecaAsPolo"
				title="{{'tooltip_torna_opac_polo' | translate}}" 
				class="a logout manina" href="{{polo.code}}" target="_self">
					<span class="glyphicon glyphicon-info-sign"></span> {{'tooltip_torna_opac_polo' | translate}}
			</a></li>
			<li  tabindex="0"
				ng-if="flagVisualizza && (polo.link_esterni | filter :{tipo_link: 'testo'}).length > 0"
				class="dropdown manina"><a class="dropdown-toggle" title="{{ 'link_esterni_title' | translate}}"
				data-toggle="dropdown">{{'vedi_anche' | translate}} <span
					class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li
						ng-repeat="link in polo.link_esterni | filter :{tipo_link: 'testo'}">
						<a target="_blank" ng-href="{{link.url}}" title="{{('tooltip_apri_nuova_page' | translate ) + ' ' + (link |
							translateLinkEsterno)}}">{{link |
							translateLinkEsterno}}</a>
					</li>

				</ul></li>

			<li class="right manina" ng-click="changeLanguage('en')"><a
				class="logout" title="{{ 'linguaEN' | translate }}"> <img alt="{{ 'Flag ' + ('linguaEN' | translate) }}"
					src="images/flags/en.png" /> <span> {{ "Select " + ('linguaEN' |
						translate) }} </span>
			</a></li>
			<li class="right manina" ng-click="changeLanguage('it')"><a
				class="logout" title="{{ 'linguaIT' | translate }}"> <img alt="{{'Bandiera ' + ( 'linguaIT' | translate) }}"
					src="images/flags/it.png" /> <span> {{ "Seleziona " + ('linguaIT' |
						translate )}} </span>
			</a></li>
		
			<li class="right" ng-if="flagVisualizza" tabindex="0"><a
				ng-if="!polo.bibliotecaAsPolo && polo.code =='DDS' && !user"
				class="manina"
				href="http://sbnweb.dds.it/servizi/login.do?BIB=+IC&SALA=Y&MED=SH" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' http://sbnweb.dds.it/servizi/login.do?BIB=+IC&SALA=Y&MED=SH'}}"
				target="_blank" title="{{ ('shoah_foundation' | translate) }}"> <span
					class="glyphicon glyphicon-new-window"></span> {{ 'USC Shoah
					Foundation'}}
			</a></li>


			<li class="right" tabindex="0"  ng-if="flagVisualizza"><a
				ng-if="!polo.bibliotecaAsPolo && polo.code =='DDS' && !user"
				class=" right manina" aria-label="{{( 'acc_apertura_nuova_finestra' | translate) + ' http://sbnweb.dds.it/servizi/login.do?BIB=+IC&SALA=Y&MED=TR'}}"
				href="http://sbnweb.dds.it/servizi/login.do?BIB=+IC&SALA=Y&MED=TR"
				target="_blank" title="{{ 'teche_rai' | translate }}"> <span
					class="glyphicon glyphicon-new-window"></span> {{ 'Teche Rai' }}
			</a></li>
			
			<li class="right manina" tabindex="0"
				title="{{'tooltip_ricerche_eff' | translate }}"
				ng-if="ricercheEseguite.length > 0" data-toggle="modal"
				data-target="#ricercheEff"><a>{{ 'ricercheEff' | translate
					}}</a></li>

			<li ng-click="logout()" class="right manina"
				title="{{'amm_logout' | translate }}" ng-if="user"><a>{{
					('amm_logout' | translate)+": " + user.username }}</a></li>

			<li title="{{'tooltip_preferiti' | translate }}" class="right link" tabindex="0"
				ng-show="favoritesList.length > 0 "><a
				ng-click="preferitiEvent()">{{ 'preferiti' | translate }}</a></li>

		</ul>

	</div>
</div>
<!-- Almaviva3 evo BVE 09/05/2019 rimossa breadcumb spostata qui la searchBar -->
<div class="searchBar" ng-if="polo != undefined || poloList != undefined" ng-show=" !user && flagVisualizza"> <!--(controller != 'rSemplice') &&-->
	<span class="col-md-4 px-top-5">
		<a ng-href="{{(!polo.bibliotecaAsPolo) ? polo.code  : polo.code +'/' + polo.codBibliotecaAsPolo}}/ricercaSemplice" role="link" title="{{'tooltip_paginaRSempl' | translate}}" ng-class="['a','blu-tema', {'disabled': (controller == 'rSemplice') }]">{{'rSemplice' | translate }}</a>
		<span class="nero-contrasto"> - </span>
		<a href="" ng-class="['a','blu-tema', {'disabled': (controller == 'rAvanz') }]"
			ng-click="ricercaAvanzata(false)" role="link"
			title="{{'tooltip_paginaRAvanz' | translate}}">{{ 'rAvanz' |
			translate }}</a> <!-- class rimosso  rAvanz ng-show="(controller != 'rAvanz')"  -->
			
			<span class="nero-contrasto"> - </span><a ng-if="polo.useAuthority" role="link"
			 ng-class="['a','blu-tema', {'disabled': (controller == 'authority') }]" ng-href="{{(!polo.bibliotecaAsPolo) ? polo.code  : polo.code +'/' + polo.codBibliotecaAsPolo}}/authority"
			title="{{'tooltip_paginaAuthAut' | translate}}">{{ 'authority' |
			translate }}</a> <!-- class rimosso  rAuth  ng-show="(controller != 'authority')"-->
	</span>
	<span class="col-md-5">
	<!-- colonna centrale vuota -->
	</span>
	<span class="col-md-3 px-top-2" ng-show="(controller != 'rSemplice') && !user && flagVisualizza">
		<div class="col-sm-12 input-group input-group-sm">
			<input my-enter="find()" class=" form-control  input-sm" type="text"
				ng-change="myFunc(myValue)" ng-model="myValue" id="parole_cerc"
				ng-attr-placeholder="{{'testoCerca' | translate}}" aria-label="{{'testoCerca' | translate}}"> <span role="button"
				ng-click='find()' class="blu-tema input-group-addon" id="sizing-addon1"
				data-toggle="tooltip" data-placement="left"
				title="{{'cerca' | translate}}" aria-label="{{'cerca' | translate}}"> <span
				class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</span>

</div>
